label.radio:hover input ~ span {
  @apply bg-gray-400;
}

label.radio input:checked ~ span {
  @apply bg-green-400;
}

.radio span:after {
  content: '';
  position: absolute;
  display: none;
}

label.radio input:checked ~ span:after {
  display: block;
}

label.radio span:after {
  @apply rounded-full bg-white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7px;
  width: 7px;
}

.dark label.radio:hover input ~ span {
  @apply bg-gray-600;
}

.dark label.radio span:after {
  @apply bg-gray-200;
}
