body {
  /* Firefox https://stackoverflow.com/a/54101063/6817437 */
  scrollbar-color: auto;
  scrollbar-width: thin;
}

/* Chrome */
body::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* ::-webkit-scrollbar-track */
body::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

body::-webkit-scrollbar-thumb:active {
  @apply bg-gray-400;
}
